html {
	height: 100%;
}

body {
  background-image: linear-gradient(to bottom right, pink, purple);
  font-family: Helvetica, sans-serif;
}

nav {
  position: absolute;
  top: 9px;
  left: 75%;
}

.center {
  text-align: center;
}

.container {
  background-color: #efefef;
  display: inline-block;
  border: 1px black solid;
  margin: 12px;
  border-radius: 9px;
}

.container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .4);
}

.header {
  margin-top: 9px;
  text-align: center;
}

.box {
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #999;
  border: 1px black solid;
  display: inline-block;
  border-radius: 3px;
}

.r {
  background-color: Red;
}

.g {
  background-color: Green;
}

.b {
  background-color: Blue;
}

.y {
  background-color: Yellow;
}

.dots { 	
  text-align: center;
  margin-bottom: 9px;
}

a {
  background-color: teal;
  border: 1px solid black;
  border-radius: 9px;
  padding: 3px;
  margin: 4px;
}
#####################################
$background: #3A3A4D;
$tile-color: yellowgreen;
$color: #efefef;

html {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

body {
  background: $background;
  padding: 25px;

}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  color: $color;
  font-weight: normal;
  font-weight: 300;
  margin-bottom: 30px;

  a {
    color: $color;
    border-bottom: 2px solid $color;
    text-decoration: none;
    padding-bottom: 3px;
    
    &:hover {
      color: $tile-color;
      border-color: $tile-color;
    }
  }
}

button {
  padding: 12px 30px;
  box-shadow: none;
  border: none;
  color: $color;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: $tile-color;
  }

  &:focus {
    outline: none;
  }
}

#list {
  background-color: rgba(0, 0, 0, 0.2);
  width: 250px;
  width: 90%;
  width: 0;
  position: relative;
  display: block;
  margin-top: 50px;
}

.tile {
  display: block;
  position: absolute;
  background-color: $tile-color;
  color: $background;
  padding: 5px;
  font-weight: bold;
}

.layout {
  color: $color;
  margin-bottom: 15px;
  
  label {
    margin-right: 15px;
    cursor: pointer;
    
    &:hover {
      color: $tile-color;
    }
  }

  input {
    margin-right: 3px;
  }
}
